<ul class="list-group">
  <li class="list-group-item">
    Task
    <InlineConfirmbox @confirmButtonClass="btn-danger" @onConfirm={{action "confirmHandler" "arg 1"}}
      @onCancel={{action "cancelHandler"}} class="inline-block ml-5">
      <button class="btn"><i class="fa fa-trash"></i> Delete</button>
    </InlineConfirmbox>
  </li>
  <li class="list-group-item">
    Task 2
    <InlineConfirmbox @confirmButtonClass="btn-warning" @onConfirm={{action "confirmHandler" "arg 2"}}
      @onCancel={{action "cancelHandler"}} class="inline-block ml-5">
      <i class="fa fa-trash"></i>
    </InlineConfirmbox>
  </li>
  <li class="list-group-item">
    Task 3
    <InlineConfirmbox @confirmButtonClass="btn-info" @onConfirm={{action "confirmHandler" "arg 3"}}
      @onCancel={{action "cancelHandler"}} class="inline-block ml-5">
      Delete
    </InlineConfirmbox>
  </li>
</ul>